/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #888888;
    transition: background-color 0.3s ease;
}

header {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.tabs {
    background-color: #363636;
}

.tabs ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 10px 0;
}

.tabs ul li {
    margin: 0 10px;
}

.tabs ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.3s ease;
}

.tabs ul li a.active,
.tabs ul li a:hover {
    background-color: #039608;
}

.tab-content {
    display: none;
    padding: 30px 0;
}

.tab-content.active {
    display: block;
}

h2 {
    color: #147a00;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background-color: #fcf6f6;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.card h3 {
    color: #098d10;
}

.card p {
    color: #030303;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff; /* cor de fundo padrão */
    color: #333; /* cor do texto padrão */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode {
    background-color: #2e2e2e; /* cor de fundo no modo escuro */
    color: #fff; /* cor do texto no modo escuro */
}

header {
    background-color: #378039;
    color: rgb(253, 253, 253);
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    padding: 50px 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #2f3d30;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    z-index: 9999;
}

button:hover {
    background-color: #45a049;
}
